
/* main */
#main { border-color: #888; color: #ccc; }
#main, #head { background: #666 url('img/bg-dark.png') repeat-x top; }

/* links */
#brief a, #content a { color: White; }

/* menu */
#topmenu ul li.active a { background-color: #626262; color: #ddd; }

#mainmenu ul li a, #mainmenu ul ul:hover li a { color: #999; }
#mainmenu ul li.active a, #mainmenu ul ul li a:hover, #mainmenu h5 { color: White; }

/* forms */
textarea, input { color: White; }
#onpage-contact label.textarea, form.default input, form.default textarea { background-color: #666; }

/* content */
h1, h2, h3, h4 { color: #d5d5d5; }
#content strong { color: #eee; }

code { background-color: #555; text-shadow: none; }
p span.dropcap { color: White; }
p span.dropcap.alt { background-color: White; color: #666; }

a.button.solid { border-color: rgba(255,255,255,0.3) !important; }
a.button.solid:hover { color: White !important; }

ul.check { list-style: url('img/check-light.png') outside; }

/* blog */
#sidebar ul li a { border-color: #999 !important; }
#sidebar ul li a:hover, #sidebar ul li.active a { color: white; }

/* portfolio */
#content.portfolio.V .entry span { background-color: #666; /* firefox opacity bugfix */ }
