<!-- <head> -->

	<!-- css -->
	<!-- <style type="text/css">
		## moved contents over to custom.css
	</style> -->
        
	<!-- js -->
	<!--  ## These JS files are now covered by the application.html.erb file##
        <script type="text/javascript" src="public/javascripts/bj_folio.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.js"></script>
	<script type="text/javascript" src="public/javascripts/backbone/underscore.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="public/javascripts/jquery.localscroll.js"></script> -->
        
        <!-- ## Moved this script to application.js file ## -->
	<!-- <script type="text/javascript">
	</script> -->
        
<!-- </head>
<body> -->

	<a id="top" name="top"></a>
	<div id="topmenu">
				<ul>
					<li><a href="https://foursquare.com/" target="_blank">Foursquare</a></li>
					<li><a href="http://www.facebook.com/" target="_blank">Facebook</a></li>
					<li><a href="https://plus.google.com/" target="_blank">Google+</a></li>
                    <li><a href="https://twitter.com/#!/byro" target="_blank">Twitter</a></li>
				</ul>
			  
              </div>
            <div id="main">
		<div id="head">
                        <%= link_to logo, root_path %>
			<!-- /logo -->
			<!-- /topmenu -->
			
            <div id="mainmenu">
			  <ul>
			    <li>
			      <h5> Work</h5>
			      <section id="options" class="clearfix">
			        <ul id="filters" class="option-set floated clearfix">
			          <li><a href="#filter" data-filter="*" class="selected">show all</a></li>
			          <li><a href="#filter" data-filter=".mars">mars</a></li>
			          <li><a href="#filter" data-filter=".app">app</a></li>
                      <li><a href="#filter" data-filter=".service">service</a></li>
		            </ul>
		          </section>
			      <!-- /submenu -->
		        </li>
			    <li>
			      <h5> Flight Projects</h5>
			    	<ul id="filters" class="option-set floated clearfix">
			          <li><a href="#filter" data-filter="*" class="selected">show all</a></li>
			          <li><a href="#filter" data-filter=".puma">PUMA</a></li>
			          <li><a href="#filter" data-filter=".bieber">Justin Bieber</a></li>
			          <li><a href="#filter" data-filter=".bmw">BMW</a></li>
			          <li><a href="#filter" data-filter=".school">School</a></li>
		            </ul>
			      <!-- /submenu -->
		        </li>
		      </ul>
		  </div>
	<a id="home" name="home"></a>

			<!-- /mainmenu -->
</div>
		<!-- /head -->

	<!-- Populated with slideshow of work -->
	<div class="container_12 proj_detail">
	</div>

	<div class="clear"></div>

	  <div id="container" class="portfolio V container_12 clearfix">
	  </div>
		<!-- /content -->

	</div>
	<!-- /main -->
        
        
 <!-- ## these are now covered in the application.html.erb file##
  <script src="public/javascripts/jquery.min.js"></script>
  <script src="public/javascripts/jquery.isotope.min.js"></script> -->




<!-- </body> -->